<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('includes/header'); %>
</head>

<body>
  <%- include('includes/nav'); %>
    <div class="container mt-5">
      <h1>Login</h1>
      <% if (message.type) { %>
        <div class="alert alert-<%= message.type === 'error' ? 'danger' : 'success' %>" role="alert">
          <%= message.body %>
        </div>
        <% } %>
          <form method="post" action="login">
            <div class="form-group">
              <label for="email">Email address
                <sup class="text-danger">*</sup>
              </label>
              <input type="email" name="email" id="email" aria-describedby="emailHelp" placeholder="Enter email" class="form-control <%= error.email ? 'is-invalid' : 'is-valid' %>"
                value="<%= formData.email %>" maxlength="128" required>
              <% if (error.email) { %>
                <div class="invalid-feedback">
                  <%= error.email[0] %>
                </div>
                <% } %>
            </div>

            <div class="form-group">
              <label for="password">Password
                <sup class="text-danger">*</sup>
              </label>
              <input type="password" name="password" id="password" placeholder="Password" class="form-control <%= error.password ? 'is-invalid' : 'is-valid' %>"
                value="<%= formData.password %>" required>
              <% if (error.password) { %>
                <div class="invalid-feedback">
                  <%= error.password[0] %>
                </div>
                <% } %>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          <div class="flex">
            <a class="nav-link" href="/register">Register
              <span class="sr-only">(current)</span>
            </a>
          </div>
    </div>
  <%- include('includes/footer'); %>
</body>

</html>
